form {
    width: 1000px;     /* o max-width */
    margin: auto;
    padding: 30px;
    background-color: #e8f1ff;
}

/*seccion de informacion personal*/
.seccion.info-p {
    display: flex;
    flex-direction: column;    /* todo hacia abajo */
    gap: 12px;                 /* espacio entre cada línea */
}

.seccion.info-p label {
    display: flex;
    flex-direction: column;    /* etiqueta arriba, input abajo */
    font-weight: 600;
}

.seccion.info-p input {
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #bbb;
    font-size: 14px;
}

/*secciones*/

.seccion input {
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #bbb;
    font-size: 14px;
    width: 400px;
}

.seccion select {
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #bbb;
    font-size: 14px;
    width: 200px;
}

.seccion button {
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #bbb;
    font-size: 14px;
    width: 80px;

    &.add {
    background-color: #007bff;
    color: #fff;
    }
    
    &.quit {
    background-color: #c62828;
    color: #fff;
    }
}

/*textarea*/

textarea {
    width: 600px;
    height: 200px;
}

/*secciones con fecha ingreso, final*/

.seccion.exp, .edu, .cert {

    display: flex;
    flex-direction: column;    
    gap: 12px;   

    label{   
        font-weight: 600;
    }

    input[type="date"] {
    width: 150px;
    }
}


